@font-face {
	font-family: "Flaticon";
	src: url("fonts/flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon.woff") format("woff"),
	url("fonts/flaticon.ttf") format("truetype"),
	url("fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 40px;
font-style: normal;
}.flaticon-beach5:before {
	content: "\e000";
}
.flaticon-bikini4:before {
	content: "\e001";
}
.flaticon-car95:before {
	content: "\e002";
}
.flaticon-clothes15:before {
	content: "\e003";
}
.flaticon-clothing1:before {
    font-size: 25px;
	content: "\e004";
}
.flaticon-family24:before {
	content: "\e005";
}
.flaticon-lips:before {
	content: "\e006";
}
.flaticon-pearl:before {
	content: "\e007";
}
.flaticon-person198:before {
    font-size: 60px;
	content: "\e008";
}
.flaticon-ring5:before {
	content: "\e009";
}
.flaticon-sleepy7:before {
	content: "\e00a";
}
.flaticon-soccer18:before {
    font-size: 50px;
	content: "\e00b";
}
.flaticon-soccer38:before {
	content: "\e00c";
}
.flaticon-suit:before {
    font-size: 60px;
	content: "\e00d";
}
.flaticon-wardrobe:before {
    font-size: 25px;
	content: "\e00e";
}
.flaticon-winter:before {
	content: "\e00f";
}
