@font-face {
	font-family: "FlaticonGardrobe";
	src: url("fonts/flaticon_gardrobe.eot");
	src: url("fonts/flaticon_gardrobe.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon_gardrobe.woff") format("woff"),
	url("fonts/flaticon_gardrobe.ttf") format("truetype"),
	url("fonts/flaticon_gardrobe.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-gardrobe-"]:before, [class*=" flaticon-gardrobe-"]:before,
[class^="flaticon-gardrobe-"]:after, [class*=" flaticon-gardrobe-"]:after {
font-family: FlaticonGardrobe;
font-size: 40px;
font-style: normal;

}.flaticon-gardrobe-bikini4:before {
	content: "\e000";
}
.flaticon-gardrobe-biretta:before {
	content: "\e001";
}
.flaticon-gardrobe-black137:before {
	content: "\e002";
}
.flaticon-gardrobe-black280:before {
	content: "\e003";
}
.flaticon-gardrobe-bowler:before {
	content: "\e004";
}
.flaticon-gardrobe-dress:before {
	content: "\e005";
}
.flaticon-gardrobe-fedora:before {
	content: "\e006";
}
.flaticon-gardrobe-male200:before {
	content: "\e007";
}
.flaticon-gardrobe-necktie:before {
	content: "\e008";
}
.flaticon-gardrobe-necktie1:before {
	content: "\e009";
}
.flaticon-gardrobe-sexy3:before {
	content: "\e00a";
}
.flaticon-gardrobe-sneaker:before {
	content: "\e00b";
}
.flaticon-gardrobe-sports8:before {
	content: "\e00c";
}
.flaticon-gardrobe-tie:before {
	content: "\e00d";
}
.flaticon-gardrobe-two28:before {
	content: "\e00e";
}
.flaticon-gardrobe-uniform:before {
	content: "\e00f";
}
